@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.brand_name {
  font-weight: bold;
  color-scheme: #6610f2 !important;
}
.navbar {
  background-color: #fff;
}

.navbar-brand {
  font-size: 3rem !important;
  color: purple !important;
}
.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
}
.menu_active {
  font-weight: bold;
  /* border-bottom: 1px solid #565387 !important; */
  /* text-decoration: underline; */
}
.navbar a:hover {
  color: blue !important;
}
@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.5rem;
  }
}
/* .menu_active {
  font-weight: bold;
  border-bottom: none;
} */
#header .btn-btn-outline-primary {
  border-radius: 50rem;
}

#header-img {
  text-align: right;
  align-self: auto;
}
#header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-10px);
  }
}
